.btn {
    height: 40px;
    width: fit-content;
    padding: 0 15px;
    background-color: $color-primary;
    color: #fff;
    cursor: pointer;
}
.btn-b {
    height: 40px;
    width: fit-content;
    padding: 0 15px;
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    color: #fff;
}
a:hover{
    color: unset;
}
