.model-body{
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);;
    padding-top: 40px;


    .tag-modal-body-content{
        // display: flex;
        position: relative;
        margin: 8% 20% 0 34%;
        width: 465px;
        height: 320px auto ;
        background-color: #fff;
        border: none;
        border-radius: 4px;
        animation:fadein .5s;

        .modal-header{
            // background-color: red;
            border-bottom: 1px solid #e6e4e4;
            height: 50px;
            border-radius: 2px;
            display: flex;
            justify-content: space-between;
            padding: 0 15px 0 30px;
            align-items: center;

            span {
                font-weight: 600;
                color: rgb(54, 52, 52);
            }

            .fa-times{
                font-size: 1.3rem;
                cursor: pointer;
                color: #6941a7;
                background-color: var(--primary-lightBg);
                margin-top: 4px;
                padding: 0;
            }
        }

        .modal-input-content{
            margin: 0 5% 0 5%;
            display: flex;
            gap: 20px;

            label {
                font-weight: 500;
                font-size: .85rem;
            }

            .row {
                width: 85%;
                height: 100%;
                display: flex;
                margin: 0 auto;
                .input-field {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    position: relative;
                    
                    .dropdown-time{
                        width: 40%;
                    }
                    
                    label {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 10px 0;

                        .dropdown-select{
                            font-size: 4px;
                            font-weight: 500;
                            position: relative;
                            font-family: Arial;
                        }
                    }
                    input,
                    textarea {
                        width: 100%;
                        height: 40px;
                        outline: none;
                        border: none;
                        background-color: #f3f5f8;
                        border-radius: 4px;
                        padding: 0 13px;
                        font-size: 13px;
                            
                        &::-webkit-input-placeholder {
                            font-size: 11px;
                            color: rgb(173, 173, 173);
                        }
                    }
                    textarea {
                        padding-top: 10px;
                    }
                }
                // .input-field-toggle{
                //     width: 100%;
                //     display: inline;
                //     // align-items: flex-start;
                //     flex-direction: row;
                // }
            }
        }
        .mySelect__control{
            width: 300px;
            line-height: 0px;
            height: 20px;
            position: relative;
            background-color: #f1f1f1;
            // display: flex;
        
            .mySelect__value-container{
                position: absolute;
                // top: 0px;
                left: 3px;
                font-size: 12px;

                    .mySelect__placeholder{
                        color: rgb(173, 173, 173);
                    }
            }
        }
        .btn-container {
            display: flex;
            flex-direction: row-reverse;
            padding: 10px 45px 25px 25px;
            margin: 25px 0;
            // background-color: red;

            .cancel {
                background: gray;
            }

            button {
                padding: 7px 13px;
                font-size: .8rem;
                font-weight: 500;
                margin: 3px 7px;
                border-radius: 4px;
                outline: none;
                border: none;
                color: #fff;
                background: #5511a9;
            }
        }
    }
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}